<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="FogBugz_User" value="AutoBug" />
		<add key="FogBugz_Project" value="Crash Report" />
		<add key="FogBugz_Area" value="AutoBackup" />
		<add key="ErrorReportURL" value="http://mirab.memeo.com/FogBUGZ/scoutSubmit.asp" />
		<add key="CurrentCulture" value="en-US" />
		<add key="CurrentUICulture" value="en-US" />
		<add key="Memeo.Server.RemotingChannel" value="Memeo_Service" />
		<add key="Memeo.RegistryBase" value="Software\Memeo\AutoBackup\CurrentVersion" />
		<add key="Memeo.Client.MemeoEngineName" value="BackMeUp_Controller" />
		<add key="Memeo.Client.MemeoEngineUrl" value="ipc://Memeo_Service/BackMeUp_Controller" />	
    </appSettings>
    <system.diagnostics>
		<switches>
			<add name="DebugLevel" value="3" />
			<add name="StackTrace" value="0" />
		</switches>
		<trace autoflush="true"	indentsize="4">
			<listeners>
			</listeners>
		</trace>
    </system.diagnostics>	
</configuration>